@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hotel Building</title>
</head>
<body>
    @if (@User.Identity != null && @User.Identity.IsAuthenticated)
    {
        <h2>Добавить корпус отеля</h2>
        <form method="post">
            <label>Название</label>
            <input type="text" name="name" value="" />
            <br />
            <label>Описание</label>
            <input type="text" name="description" value="" />
            <br />
            <label>Адрес</label>
            <input type="text" name="address" value="" />
            <br />
            <label>Контактный телефон</label>
            <input type="text" name="phoneNumber" value="" />
            <br />
            <label>E-mail</label>
            <input type="text" name="email" value="" />
            <br />
            <input type="submit" value="Добавить" />
        </form>
    }
    else
    {
        <h2>Требуется авторизация для добавления корпуса отеля</h2>
    }

    <a asp-area="" asp-controller="Home" asp-action="Index">Назад</a>
</body>
</html>
