@model int

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hotel Building</title>
</head>
<body>
    @if (@User.Identity != null && @User.Identity.IsAuthenticated)
    {
        <h2>Вы уверены, что хотите удалить корпус отеля?</h2>
        <form method="post">
            <input type="hidden" name="id" value="@Model" />
            <input type="submit" value="Удалить" />
        </form>
    }
    else
    {
        <h2>Требуется авторизация для удаления корпуса отеля</h2>
    }

    <a href="/home">Назад</a>
</body>
</html>
