<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>
    <h1>Отель ...</h1>
    <p>Отель был основан в 1969 году и на данный момент является одним из самых популярных.</p>
    <p> </p>
    <p>Адрес: ...</p>
    <p>Контактный телефон: ...</p>
    <p>E-mail: ...</p>
</body>
</html>
