@model HotelBuilding

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Photo</title>
</head>
<body>
    <div class="grid-photo-container">
        @foreach (HotelPhoto hotelPhoto in Model.HotelPhotos)
        {
            <img class="grid-photo-item" src="data:image/jpeg;base64,@Convert.ToBase64String(hotelPhoto.Image)" />
        }
    </div>
</body>
</html>
