<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Photo</title>
</head>
<body>
    <div class="photo-container">
        <img class="photo" src="~/photo/photo_1.jfif" />
        <img class="photo" src="~/photo/photo_2.jpg" />
    </div>
</body>
</html>
