@model Service

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Service</title>
</head>
<body>
    @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("admin"))
    {
        <h2>Редактировать информацию о номере</h2>
        <form method="post">
            <label>Название</label>
            <input type="text" name="name" value="@Model.Name" />
            <br />
            <label>Цена, р.</label>
            <input type="number" name="price" min="0" value="@Model.Price" />
            <br />
            <input type="submit" value="Обновить" />
        </form>
    }
    else
    {
        <h2>Требуется авторизация для редактирования информации об услуге</h2>
    }

    <a asp-area="" asp-controller="Service" asp-action="Index">Назад</a>
</body>
</html>
