<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Comment</title>
</head>
<body>
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <h2>Добавить отзыв</h2>
        <form method="post">
            <label>Текст</label>
            <br />
            <textarea name="text" cols="40" rows="5"></textarea>
            <br />
            <label>Оценка</label>
            <input type="number" name="rating" min="1" max="5" value="5" />
            <br />
            <input type="submit" value="Добавить" />
        </form>
    }
    else
    {
        <h2>Отзывы могут оставлять только постояльцы</h2>
    }

    <a asp-area="" asp-controller="Comment" asp-action="Index">Назад</a>
</body>
</html>
