@model int

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hotel Photo</title>
</head>
<body>
    @if (@User.Identity != null && @User.Identity.IsAuthenticated)
    {
        <h2>Вы уверены, что хотите удалить фотографию номера?</h2>
        <form method="post">
            <input type="hidden" name="id" value="@Model" />
            <input type="submit" value="Удалить" />
        </form>
    }
    else
    {
        <h2>Требуется авторизация для удаления фотографии номера</h2>
    }

    <a asp-area="" asp-controller="HotelBuilding" asp-action="Index" asp-route-id="@Model">Назад</a>
</body>
</html>
