@model int

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Room Photo</title>
</head>
<body>
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <h2>Добавить фотографию номера</h2>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="roomId" value="@Model" />
            <label>Файл изображения:</label>
            <input type="file" name="uploadImage" />
            <br />
            <input type="submit" value="Добавить" />
        </form>
    }
    else
    {
        <h2>Требуется авторизация для добавления фотографии номера</h2>
    }

    <a asp-area="" asp-controller="Room" asp-action="Index" asp-route-id="@Model">Назад</a>
</body>
</html>
