@model Room

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book</title>
</head>
<body>
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <h2>Забронировать номер</h2>
        <form method="post">
            <input type="hidden" name="roomId" value="@Model.Id" />
            <label>Дата начала</label>
            <input type="datetime" name="momentStart" value="" />
            <br />
            <label>Дата окончания</label>
            <input type="datetime" name="momentEnd" value="" />
            <br />
            <label>Количество людей</label>
            <input type="number" name="personCount" min="1" max="@Model.MaxPersonCount" value="1" />
            <br />
            <input type="submit" value="Забронировать" />
        </form>
    }
    else
    {
        <h2>Требуется авторизация для бронирования номера</h2>
    }

    <a asp-area="" asp-controller="Book" asp-action="SelectRoom" asp-route-hotelBuildingId="@Model.HotelBuildingId">Назад</a>
</body>
</html>
