@model int

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book</title>
</head>
<body>
    @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("admin"))
    {
        <h2>Вы уверены, что хотите пометить бронь как оплаченную?</h2>
        <form method="post">
            <input type="hidden" name="id" value="@Model" />
            <input type="submit" value="Пометить как оплаченную" />
        </form>
    }
    else
    {
        <h2>Требуется авторизация для пометки номера как оплаченного</h2>
    }

    <a asp-area="" asp-controller="Book" asp-action="Index">Назад</a>
</body>
</html>
